<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <ion-item class="list card" ng-repeat="product in products" >

      <div class="item item-avatar">
        <img src= "{{ product.seller_image }}">
        <h2>{{ product.name }}</h2>
        <p>{{ product.tagline }}</p>
      </div>

      <br>

      <div class="item-image">
        <img style="height: 260px; width: 260px" src="{{ product.image }}">
      </div>
      <br>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios-pricetag-outline"></i>
        ${{ product.price }}
      </a>

    </ion-item>

    <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">-->
    <!--<img ng-src="{{chat.face}}">-->
    <!--<h2>{{chat.name}}</h2>-->
    <!--<p>{{chat.lastText}}</p>-->
    <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

    <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
    <!--Delete-->
    <!--</ion-option-button>-->
    <!--</ion-item>-->

  </ion-content>
</ion-view>
